@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    @apply bg-accent text-accent-foreground;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 7%;

    --card: 45 18% 96%;
    --card-foreground: 240 10% 3.9%;

    --popover: 45 18% 96%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 7%;

    --secondary: 0 0% 7%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 7%;
    --muted-foreground: 0, 0%, 38%;

    --accent: 205 84% 25%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --discount: 0 100% 50%;

    --border: 0 0% 91%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
}

@layer utilities {
  .absolute-center {
    @apply absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%];
  }
  .absolute-tr {
    @apply absolute right-0 top-0;
  }
  .absolute-tl {
    @apply absolute left-0 top-0;
  }
  .absolute-br {
    @apply absolute bottom-0 right-0;
  }
  .absolute-bl {
    @apply absolute bottom-0 left-0;
  }

  .fixed-center {
    @apply fixed left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%];
  }
  .fixed-tr {
    @apply fixed right-0 top-0;
  }
  .fixed-tl {
    @apply fixed left-0 top-0;
  }
  .fixed-br {
    @apply fixed bottom-0 right-0;
  }
  .fixed-bl {
    @apply fixed bottom-0 left-0;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .auto-alpha-0 {
    opacity: 0;
    visibility: hidden;
  }
  .auto-alpha-1 {
    opacity: 1;
    visibility: visible;
  }
}
