{%- assign limit = section.settings.limit -%}
{%- assign collection = section.settings.collection -%}
{%- assign product_card_mode = section.settings.product_card_mode -%}

<section-product-carousel class="block w-full space-y-4 overflow-hidden border-t border-secondary py-8">
  {% comment %} /* --------------------------------- HEADER --------------------------------- */ {% endcomment %}
  <div class="flex w-full items-center justify-between gap-4 px-8">
    <div class="flex flex-col">
      {%- if section.settings.subheading != blank -%}
        <p class="truncate text-sm md:text-base">{{ section.settings.subheading }}</p>
      {%- endif -%}
      {%- if section.settings.heading != blank -%}
        <h2 class="truncate font-secondary text-2xl font-bold md:text-4xl">{{ section.settings.heading }}</h2>
      {%- endif -%}
    </div>

    {%- if section.settings.cta_title != blank -%}
      <a
        class="relative whitespace-nowrap rounded-full bg-secondary px-6 py-2 text-sm font-medium text-secondary-foreground transition-all md:text-base hover-supported:hover:opacity-80"
        href="{{ section.settings.cta_url | default: collection.url }}"
      >
        {{ section.settings.cta_title }}
      </a>
    {%- endif -%}
  </div>

  {% comment %} /* -------------------------------- CAROUSEL -------------------------------- */ {% endcomment %}
  <swiper-container class="w-full" slides-per-view="auto" mousewheel-force-to-axis="true" grab-cursor="true">
    {%- if collection.products.size > 0 -%}
      {%- for product in collection.products limit: limit -%}
        <swiper-slide class="w-auto pl-8 last:pr-8">
          <div class="w-[60vw] max-w-[22rem] sm:max-w-[25rem]">
            {%- if product_card_mode == 'variants' -%}
              {%- render 'wc-product-card-variants', product: product -%}
            {%- else -%}
              {%- render 'wc-product-card-colorways', product: product -%}
            {%- endif -%}
          </div>
        </swiper-slide>
      {%- endfor -%}
    {%- else -%}
      {%- for i in (1..limit) -%}
        <swiper-slide class="mr-8 w-auto snap-center first:pl-8 last:pr-8">
          <div class="w-[60vw] max-w-[22rem] sm:max-w-[25rem]">
            {%- render 'skeleton-product-card' -%}
          </div>
        </swiper-slide>
      {%- endfor -%}
    {%- endif -%}
  </swiper-container>
</section-product-carousel>

{% schema %}
{
  "tag": "section",
  "name": "Product Carousel",
  "settings": [
    {
      "type": "header",
      "content": "Product Card Mode"
    },
    {
      "type": "select",
      "id": "product_card_mode",
      "label": "Product Card Colorways Mode",
      "default": "variants",
      "options": [
        {
          "value": "variants",
          "label": "Variants"
        },
        {
          "value": "products",
          "label": "Products"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product Limit"
    },
    {
      "type": "range",
      "id": "limit",
      "min": 10,
      "max": 20,
      "step": 1,
      "unit": "qty",
      "label": "Product Limit",
      "default": 15
    },
    {
      "type": "header",
      "content": "Collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection",
      "info": "Collection Picker"
    },
    {
      "type": "header",
      "content": "Copy"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "CTA"
    },
    {
      "type": "text",
      "id": "cta_title",
      "label": "Call To Action Text",
      "info": "Leave blank to hide CTA",
      "default": "Shop All"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "Custom Call To Action URL:",
      "info": "Leave blank to use collection URL"
    }
  ],
  "presets": [
    {
      "name": "Product Carousel",
      "settings": {
        "limit": 15,
        "subheading": "New In",
        "heading": "New Arrivals",
        "cta_title": "Shop Now",
        "cta_url": ""
      }
    }
  ]
}
{% endschema %}
